
#btn-search{
    border: none;
    background-color: #4caf50;
    color: white;
    padding:7px 15px;
    border-radius: 7px;
    cursor: pointer;
}
#btn-search:hover{
    background-color: #3a8b3d;
}
.titleNav{
    width:100%;
    background-color: #4caf50;
    color: white;
}
.titleNav h2{
    padding: 20px 40px;
}
