
#btn-search{
    border: none;
    background-color: #4caf50;
    color: white;
    padding:7px 15px;
    border-radius: 7px;
    cursor: pointer;
}
#btn-search:hover{
    background-color: #293d95;
}
.loadingSpinner{
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}