.header{
    width: 100%;
    height: 200px;
}
.header form{
    display:  block;
    width: 50%;
    padding: 10px 100px;
    margin: 0 auto;
}
.header form input{
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    margin: 30px;
    border-radius: 5px;
    outline: none;
}
#btn-search{
    border: none;
    background-color: #4caf50;
    color: white;
    padding:7px 15px;
    border-radius: 7px;
    cursor: pointer;
}
#btn-search:hover{
    background-color: #3a8b3d;
}
.titleNav{
    width:100%;
    background-color: #4caf50;
    color: white;
}
.titleNav h2{
    padding: 20px 40px;
}
.collection{
    display: block;
    margin: 0 auto;
    background-color: #e0e0e0;
    height: 100vh;
    width: 100%;
    
   
}
.container{
    display: flex;

}
