.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    width: 60%;
    margin: 30px auto;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(8, 8, 8, 0.301);
}

.main {
    width: 90%;
}