.header {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 2000;
	background-color: #4caf50;
}
.titleNav {
	width: 100%;
	color: white;
	padding: 30px;
}
.titleNav h2 {
	padding: 20px 40px;
}
#dashboardFont {
	font-weight: bold;
	font-size: 25px;
}
#currentLocation {
	font-weight: bold;
	font-size: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.header {
		width: 100%;
		height: 70px;
	}
	.titleNav {
		padding: 15px;
	}
}
