.homePage {
	width: 97%;
	margin: 0 auto;
	height: auto;
	background: url("../../assets/homepageBackground-color.jpg");

	background-repeat: no-repeat;
	background-size: cover;
}

.homePageHeader {
	display: flex;
	justify-content: space-between;
	margin: 100px 10px;
	width: 100%;
	text-align: center;
}

.homePageHeader h1 {
	font-size: 40px;
	margin-top: 15px;
	margin-left: 20px;
}
.homePageHeader h2 {
	width: 100%;
	color: #283593 !important;
	font-weight: 400;
	transform: translateY(5px) !important;
}
.textHeader {
	margin-top: 0;
	height: 30px;
}

.home {
	background-color: rgb(255, 255, 255) !important;
	overflow: scroll;
	padding: 10px;
}
.menu {
	display: flex;
	width: 80%;
	height: auto;
	margin: 0 auto;
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: white;
	font-weight: bold;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 2px 2px rgba(17, 17, 17, 0.609);
}
.menu .menu-items {
	width: 320px;
	height: 300px;
	text-align: center;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: ease-in-out 0.3s;
	box-shadow: 10px 10px 2px rgba(58, 58, 58, 0.787);
}
.menu .menu-items:hover {
	transition: ease-in-out 0.3s;
	box-shadow: 0px 0px 0px rgba(58, 58, 58, 0.787);
}
.Product {
	display: block;
	background-image: url("../../assets/undraw_product_iteration_kjok.png");
	background-size: cover;
	background-position: center;
}

.Product h3 {
	position: relative;
	top: 220px;
	color: black;
}
.Inventory {
	display: block;
	background-image: url("../../assets/undraw_selecting_team_8uux.png");
	background-size: cover;
	background-position: center;
}
.Inventory h3 {
	position: relative;
	top: 220px;
	color: black;
}
.logs {
	display: block;
	background-image: url("../../assets/undraw_online_reading_np7n.png");
	background-size: cover;
	background-position: center;
}
.logs h3 {
	position: relative;
	top: 220px;
	color: black;
}
.budget {
	display: block;
	background-image: url("../../assets/undraw_metrics_gtu7.png");
	background-size: cover;
	background-position: center;
}
.budget h3 {
	position: relative;
	top: 240px;
	color: black;
}
.users {
	display: block;
	background-image: url("../../assets/undraw_missed_chances_k3cq.png");
	background-size: cover;
	background-position: center;
}
.users h3 {
	position: relative;
	top: 250px;
	color: black;
}

@media (min-width: 320px) {
	.homePage {
		height: 100vh;
	}
	.homePageHeader h2 {
		margin: 0;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.menu {
		box-shadow: none;
		padding:10px;
	}
	.menu .menu-items {
		width: 220px;
		height: 210px;
		margin-top: 50px;
	}
	.menu img {
		margin: 10px auto;
		width: 70%;
		min-width: 100px;
	}

	.homePageHeader h1 {
		margin-left: 0px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
