.homePageHeader {
	display: flex;
	justify-content: space-between;
	margin: 100px 10px;
	width: 100%;
	text-align: center;
}

.homePageHeader h1 {
	font-size: 40px;
	margin-left: 20px;
}
.homePageHeader h2 {
	width: 100%;
	margin-left: 20px !important;
	color: #1b5e20;
	transform: translateY(5px) !important;
}
.textHeader{
	margin-top:0 ;
	height: 30px;
}

.home {
	background-color: rgb(238, 238, 238) !important;
	overflow: scroll;
	padding: 10px;
}
.menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: white;
	font-weight: bold;
}
.menu .menu-items {
	width: 320px;
	height: 300px;
	text-align: center;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: ease-in-out 0.3s;
	box-shadow: 10px 10px 2px rgba(58, 58, 58, 0.787);
}
.menu .menu-items:hover {
	transition: ease-in-out 0.3s;
	box-shadow: 0px 0px 0px rgba(58, 58, 58, 0.787);
}
.Product {
	display: block;
	background-color: #cf7200;
}

.Product img {
	display: block;
	margin: 30px auto;
	width: 70%;
	min-width: 100px;
}
.Inventory {
	display: block;
	background-color: #6d4c41;
}
.Inventory img{
	display: block;
	margin: 0 auto;
	width: 220px;
}
.logs {
	display: block;
	background-color: #363636;
}
.logs img{
	display: block;
	margin: 0 auto;
	width: 220px;
}
.budget {
	background-color: #546e7a;
}
.budget img {
	display: block;
	margin: 40px auto;
	width: 200px;
}
.users {
	background-color: #00acc1;
}
.users img {
    display: block;
	margin: 40px auto;
	width: 300px;
}

@media (max-width: 320px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.menu .menu-items {
		width: 220px;
		height: 210px;
	}
	.menu img {
		margin: 10px auto ;		
		width: 70%;
		min-width: 100px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}