.landingPage {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
}
.landingPage header {
	width: 100%;
    display: flex;
    justify-content: space-between;

	margin: 0 auto;
}

.heroImg img {
	width: 100%;
}
.landingPage .logo {
	margin: 30px 10px;
	font-size: 30px;
	color: #303f9f;
	font-weight: bolder;
}
.landingPage #btn-login {
    margin: 30px 15px;
    
	padding: 5px 20px;
	width: 80px;
	height: 40px;
	background: #303f9f;
	border-radius: 10px;
	border: 1px solid #303f9f;
	color: white;
	font-weight: bolder;
	cursor: pointer;
	box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.376);
}
.landingPage #btn-login:hover {
	background: #4658cc;
}
.landingPage .heroText {
	display: block;
	padding: 10px 15px;
	width: 60%;
	margin: 70px auto;
	color: #303f9f;
}
.card {
	display: flex;
	flex-wrap: wrap;
	background-color: #f8f8f8;
	margin: 100px auto;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(17, 17, 17, 0.301);
}
.purple {
	color: white;
	background-color: #313b80;
}
.purple img {
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.card img {
	width: 30%;
}
.secondSection {
	display: flex;
	width: 100%;
	min-height: 80vh;
	height: auto;
	background: #313b80;
    background-repeat: no-repeat;
   
}
.secondSectionText {
	width: 70%;
	height: 200px;
	padding: 30px;
	margin-left: 10px;
	
	color: white;
}
.secondSectionText h3 {
	font-size: 2em;
	text-align: left !important;
}
.secondSectionText h5 {
	text-align: center;
	font-size: 30px;
}
.secondSectionText ul {
	margin: 20px auto;
	display: block;
	width: 50%;
	font-weight: 500;
	text-align: left !important;
}

.secondSectionImg img {
	width: 100%;
	display: block;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 150px;
}

.thirdSection{
	width:60%;
	margin:50px auto;
}
.thirdSection .how_to_use{
	display: flex;
	flex-wrap: wrap;
}
.thirdSection .how_to_use div{
width:50%;
}
.thirdSection .where_to_start{
	display: flex;
	flex-wrap: wrap;

}
.thirdSection .where_to_start div{
	width: 50%;

}
.thirdSection img{
	width:50%;
}
.thirdSection h3{
	font-size: 2em;
	padding:10px;
	margin-top: 50px;
}
.thirdSection #btn-login{
	width: 200px ;
	height: 60px;
	display: block;
	margin: 15px auto;
	font-size: 1.2em;
}
footer {
	margin-top: 100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3rem;	
	font-size: 20px;
	text-align: center;
}

@media (max-width: 320px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.landingPage .heroText {		
		width: 90%;
		
	}
    .secondSection {
        display: flex;
        flex-wrap:wrap;       
        width: 100%; 
        min-height: 100vh;     
		height: auto;
		padding:10vw 1vw;
       
      
    }
    .secondSectionText {
        width: 100%;
        height: 200px;
        padding: 10px;
        margin-left: 10px;        
        color: rgb(236, 236, 236);
    }
    .secondSectionText h3 {		
		font-size: 1.7em;
        text-align: left !important;

    }
    .secondSectionText h5 {
        text-align: left;
        font-size: 15px;
        color: rgb(221, 221, 221);
        font-weight: 500;
    }
    .secondSectionText ul {
        margin: 20px auto;
        display: block;
        width: 90%;
        font-weight: 300;
        text-align: left !important;
    }
    .secondSectionImg{
		
        width: 100%;
    }
    .secondSectionImg img{
        width: 80%;
        max-width: 300px;
        max-height: auto;
	}
	.thirdSection{
		width:90%;
		margin:50px auto;
	}
	.thirdSection img{
		width:100%;
	}
	.thirdSection .where_to_start div{
		width: 100%;
			
	}
	.thirdSection .how_to_use div{
		width:100%;
		}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.landingPage .logo {
		margin: 30px 100px;
	}
	.landingPage header {
		justify-content: space-between;
	}
	.hero {
		display: flex;
		width: 80%;
		justify-content: space-between;
		margin: 0 auto;
	}
	.heroText {
		width: 50%;
		margin: 10px;
	}
	.heroImg {
		margin: 10px;
		width: 50%;
	}
	.landingPageInfo {
		display: flex;
		width: 80%;
		margin: 0 auto;

		justify-content: center;
	}
	.card {
		width: 300px;
		margin-left: 50px;
		padding: 20px;
	}
	.secondSection {
		display: flex;
		margin: 0px auto;
		justify-content: space-evenly;
		width: 100%;
		min-height: 60vh;
		height: auto;
	
	}
	.secondSectionText {
		width: 50% !important;
		margin-left: 20px;
		height: 300px;
		padding: 0;
		transform: translateY(200px);
		color: white;
	}
	.secondSectionText h3 {
		font-size: 30px;
	}
	.secondSectionText h5 {
		text-align: left;
		font-size: 20px;
		color: rgb(228, 228, 228);
	}
	.secondSectionText ul {
		margin: 30px auto;
		width: 40%;
		text-align: center;
	}
	.secondSectionImg {
		width: 40%;
		height: 100px;
		
	}
	.secondSectionImg img {
		width: 80%;
		display: block;
		margin-top: 150px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
@media (min-width: 1200px) {
	.landingPageInfo {
		display: flex;
		width: 70%;
		margin: 0 auto;
		justify-content: center;
	}
	.secondSection {
		
		min-height: 70vh;
		height: auto;
	
	}
   
    .secondSectionText {
        width: 70%;
        height: 200px;
        padding: 30px;
        margin-left: 10px;
        transform: translateY(12em);
        color: white;
    }
    .secondSectionText h3 {
        
        text-align: left !important;
    }
    .secondSectionText h5 {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        text-align: left;
    }
    .secondSectionText ul {
        margin: 20px auto;
        display: block;
        width: 50%;
        font-weight: 300;
        font-size: 1.2em;
        text-align: left !important;
    }
  
    
}
