.landingPage{

}

.landingPage header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


#btn-login{
    padding: 10px;
    margin:20px 30px;
    border:2px solid #111111;
    border-radius: 10px;
    width: 70px;
    height: 20px;
    line-height: normal;
    text-align: center;
    float: right;


}