.userInfo {
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: rgb(235, 235, 235);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.userInfo:hover {
    transition: ease-in-out 0.5s;
transform: scale(1.05);
}
.userInfo img {
	display: block;
	width: 100px;
	margin: 2px auto;
}
.userPic{
	margin: 20px auto;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

