.userInfo {
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.698);
    transition: ease-in-out 0.5s;
}
.adminIcon{
	color:#283593 ;
}
.userInfo:hover {
    transition: ease-in-out 0.5s;
transform: scale(1.05);
}
.userInfo img {
	display: block;
	width: 100px;
	margin: 2px auto;
}
.userPic{
	margin: 20px auto;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

