.allUsers{
    display: flex;
    background-color: rgb(246, 246, 246);
    width: 80%;
    flex-wrap: wrap;    
    margin:150px auto;
    padding:30px;
    box-shadow: 0px 2px 2px rgba(17, 17, 17, 0.781);
    justify-content: space-evenly;
    border-radius: 10px;
}
.userForm{
    position: absolute;
    top: 30%;
    left: 45%;
    padding: 10px;   
    width: 400px;
    height: 550px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 7px rgba(95, 95, 95, 0.849);
}
.userForm button {
    display: block;
    margin: 0 auto;
    padding:10px 15px;
    color:white;
    background-color: #285c8d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    
}
.userForm button:hover {
    background-color: #12385c;
}
.userForm input,select{
    padding: 5px;
    width: 75%;
    display: block;
    border: 1px solid rgb(48, 74, 146);
    border-radius: 5px;
    text-indent: 5px;
    margin: 30px auto;
    outline: none;
}
.userForm .errorLabel{
    color:#c62828 ;
    font-weight: bold;
}
.userForm .close{
    color:#c62828 ;
  margin-right: 10px;
   text-align: right;
   cursor: pointer;
   
}
.addUser-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    top:90%;
    right: 0;
    margin-right:30px ;
    background: white;
    border: none;
    cursor: pointer;
    ;
    border-radius: 100%;

}
.addUser-btn:hover{
    transform: scale(1.1);
}
.addUser-btn i{
    font-size: 50px;
    text-align: center;
    color: #224c8f;
    margin: 0 auto;
    display: block;
    padding: 1px;
    text-shadow: 5px 5px 2px rgba(153, 153, 153, 0.774); ;
}

@media (max-width: 320px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .userForm{
        position: absolute;
        top: 30%;
        left: 0;
        padding: 10px;   
        width: 100%;
        height: 550px;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        box-shadow: 10px 10px 7px rgba(95, 95, 95, 0.849);
    }
    .loadingSpinner{     
        left:37%;
        z-index: 3000;
        
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
@media (width: 1024px) {
    .userForm{
        left: 30%;
    }
}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}