* {
	font-family: 'Armata', sans-serif;
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

.main {
	width: 100%;
}
::-webkit-scrollbar {
	width: 0;
	border-left:0;
}
::-webkit-scrollbar-thumb {
	background-color: #b6b6b67c;
}
.collection {
	display: block;	
	background-color: #e0e0e0;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.container {
	display: flex;
	width: 100%;
}
.filler {
}
.date{
	display: none;
}
.close{
	color: #b30404;
}
.loadingSpinner{
	
}
@media (max-width: 320px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.filler {
		width: 250px;
	}

	#navBarIcon{	
		display: none;
	}
	.date{
		display: block;
		color: rgb(26, 170, 45);
	}
}
