* {
	font-family: 'Armata', sans-serif;
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

.main {
	width: 100%;
}
::-webkit-scrollbar {
	width: 6px;
	border-left: 1px solid #e6ecf86e;
}
::-webkit-scrollbar-thumb {
	background-color: #b6b6b67c;
}
.collection {
	display: block;
	margin: 20px auto;	
	background-color: #e0e0e0;
	height: 100vh;
	width: 100%;
	overflow: scroll;
}
.container {
	display: flex;
	width: 100%;

}
