.addInventory {
	border: 2px solid #111111;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 400px;
	height: 470px;
	padding: 50px;
	background-color: rgb(255, 255, 255);

	border: 1px solid #e2e2e2;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #6d6d6d05;
	filter: brightness(100%) !important;
}
.addInventory input {
	display: block;
	margin: 25px auto;
	width: 100%;
	padding: 10px;
	border: 1px solid #49be25;
	border-radius: 5px;
}
.addInventory .title {
	width: 100%;
}
.addInventory .close {
	text-align: right;
	cursor: pointer;
}
.add-btn {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px;
	width: 70px;
	font-weight: bold;
	cursor: pointer;
}
.add-btn:hover {
	background-color: #06810b;
}

@media (max-width: 320px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.addInventory {
		position: fixed;
		display: block;
		top: 20%;
		left: 0;
		width: 100%;
		height: 450px;
		padding: 20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
